.containerGallery {
  .title-brandGallery {
    text-align: center;
    margin: 3rem auto;
  }
  .brand-gallery {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  #img-brand-gallery {
    width: 90px;
    height: 70px;
    filter: grayscale(100%) brightness(350%);
    &:hover{
      scale: 0.95;
      filter: grayscale(100%) brightness(150%);
    }
  }
}
