@use "../Utilities" as *;

.search-box{
    .input-search{
        width: 220px;
        background: none;
        border-radius: 20px;
        color: white;
        border: 1px solid $colorWhite;
        padding: 7px 45px 7px 15px;
    }
    .btn-user{
        width: 30px;
        height: 30px;
        position: relative;
        right: 35px;
        border-radius: 50px;
        border: none;
        transition: transform 0.3s;
        &:active{
            transform: scale(0.90);
        }
    }
}