.containerGallery{
    .title-brandGallery{
        text-align: center;
        margin-bottom: 5rem;
    }
    .brand-gallery{
        display: flex;
        justify-content: center;
        gap: 3rem;
    }
    #img-brand-gallery{
        width: 100px;
        height: 80px;
        filter: grayscale(100%) brightness(300%)
    }
}